streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
openpyxl

shap

google-generativeai
python-dotenv

langchain==0.2.16
langchain-community==0.2.16
langchain-google-genai==1.0.10
langchain-text-splitters

faiss-cpu
PyPDF2
pypdf

reportlab

gTTS
SpeechRecognition

protobuf<5